@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  font-family: inherit;
}

input[type="file"]::file-selector-button {
  padding: 0 8px 0 0;
  margin-right: 8px;
  border: none;
  border-right: 1px solid hsla(0, 0, 0, 0.2);
  background: transparent;
}
